.cardItem {
  .title {
    color: var(--mantine-color-primary-6);
    font-size: 20px;
    font-weight: 600;
  }
  .experience {
    color: var(--mantine-color-blackCustom-5);
    font-size: 14px;
  }
  .company {
    color: var(--mantine-color-blackCustom-5);
    font-size: 14px;
  }
}
