.logo {
  display: flex;
  align-items: center;

  .link {
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .image {
    width: 30px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;

    color: var(--mantine-color-blackCustom-9);
  }
}
