.header {
  display: flex;
  box-shadow: 0 2px 22.5px rgba(28, 29, 31, 0.05);

  padding-left: 20px;

  button {
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
